$navigation-drawer-border-width: 0 !default;
$btn-border-radius: 8px !default;
$btn-text-transform: none !default;
$btn-font-weight: 400 !default;
$btn-icon-font-size: 16px !default;

$text-field-border-radius: 8px !default;