$default-border-radius: 8px !default;

$navigation-drawer-border-width: 0 !default;
$btn-border-radius: $default-border-radius;
$btn-text-transform: none !default;
$btn-font-weight: 400 !default;
$btn-icon-font-size: 16px !default;
$btn-transition-duration: 0.2s !default;

$text-field-border-radius: $default-border-radius;

$color-picker-border-radius: $default-border-radius

